@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@400;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap');

:root {

    /* Fonts */
    
    --font-family-inter: 'Inter', sans-serif;
    --font-family-manrope: 'Manrope', sans-serif;
    --font-family-poppins: 'Poppins', sans-serif;
    --font-family-roboto: 'Roboto', sans-serif;

    /* Colors */
    --color-primary: #3A3A3A;
    --color-secondary: #787885;
    --color-accent: #E02C6D;
    --color-product-title: #18191F;
    --color-product-rating: #5E6366;
    --color-dark: #000000;
    --color-white: #FFFFFF;
    --color-special-section-title: #0A0826;
    --color-footer-background: #0A0826;
    --color-footer-secondary: #D9DBE1;

    /* Border-radius */
    --border-radius-round-button: 41px;
    --border-radius-primary: 5px;
    --border-radius-special: 7px;

    /* Box-shadow */
    --box-shadow-primary: 0px 0px 40px rgba(0, 0, 0, 0.15);

    /* Margin */
    --margin-top: 90px;
    --margin-bottom: 90px;
    --margin-left: 120px;
    --margin-right: 120px;
}

/* Reset styling start */

html {
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-poppins);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

/* Reset styling end */


/* Useful Classes start */

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-ib {
    display: inline-block;
}

.f-a-c {
    align-items: center;
}

.f-j-c {
    justify-content: center;
}

.f-j-sb {
    justify-content: space-between;
}

.f-j-se {
    justify-content: space-evenly;
}

.container {
    width: 84%;
    margin: 0 auto;
}

/* Useful Classes end */


/* Nav start */

header.container {
    margin: 90px auto 40px auto;
}

.brand-logo {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.nav-item {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.nav-item:not(:first-child) {
    margin: 0 0 0 30px;
}

.nav-item i {
    font-size: 19px;
}

/* Nav end */